<div class="row">
 <div class="col-md-8">
    <p>Blocitoff is a to-do list application that allows users to sign-up for a free account, sign-in and manage their to-do's. It is made with Rails 5.1.5. Devise is utilized for user authenication and authorization. Code to automate a rake task to delete to-do's older than 7-days is located in the /lib/todo.rake file, however, this is currently not implemented. To enable this feature, clone the <a href="https://github.com/cheneyshreve/blocitoff">github repository</a> and add the scheduler add-on from Heroku, then follow set-up instructions.</p>
 </div>
</div>
