<div class="row">
 <div class="col-md-8">
    <h3>Key features: </h3>
    <ul>
     <li>Sign-up for a free account, sign-in to get started!</li>
     <li>Easily add or delete to-do items</li>
     <li>See a lit of items and their ages</li>
    </ul>
 </div>
</div>
