   <% @items.each do |item| %>
   <div class="media" id="item-<%= item.id %>">
    <div class="media-body">
      <h4 class="media-heading">
        <%= item.name %>
        <%= link_to "", item, method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
        <%= distance_of_time_in_words(Time.now, item.created_at + 7.days) %>
      </h4>
   <% end %>
  </div>
</div>
